<footer>
  <div class="footer-icons">
    <a class="link-inherit" href="https://www.linkedin.com/in/dennis-farmer/" target="_blank" aria-label="LinkedIn">
      <i class="fa fa-linkedin"></i>
    </a>
    <a class="link-inherit" href="https://github.com/dennisfarmer" target="_blank" aria-label="GitHub">
      <i class="fa fa-github"></i>
    </a>
    <a class="link-inherit" href="/dennis_farmer_resume.pdf" target="_blank" aria-label="Resume">
      <i class="fa fa-file"></i>
    </a>
    <span class="link-inherit" aria-hidden="true">|</span>
    <a class="link-inherit" href="https://github.com/dennisfarmer/dennisfarmer.github.io" target="_blank" aria-label="Website Repository">
      <i class="fa fa-code"></i>
    </a>
    <button style="background:none;border:none;margin:0;padding:0;cursor:pointer" class="link-inherit" id="theme-toggle" onclick="toggleLightMode()"> 
      🔆
    </button>
  </div>
</footer>
