<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <script type="text/javascript">
      window.onload = function() {
        const theme = localStorage.getItem("theme");
        if (theme === "light") {
          document.getElementById("theme-toggle").textContent = "🌙";
        } else {
          document.getElementById("theme-toggle").textContent = "🔆";
        }
      };
  </script>
</head>
<body>
  <script>
    function toggleLightMode() {
      document.body.classList.toggle("light-mode");
      const isLightMode = document.body.classList.contains("light-mode");
      localStorage.setItem("theme", isLightMode ? "light" : "dark");
    };
    window.addEventListener("DOMContentLoaded", function() {
      const theme = localStorage.getItem("theme");
      if (theme === "light") {
        document.body.classList.add("light-mode");
      } else {
        document.body.classList.remove("light-mode");
      }
    });
  </script>
  {% include "components/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "components/footer.njk" %}
</body>
</html>
