---
layout: layouts/base.njk
title: dennis farmer [dot] dev
section: homepage
---

<section class="section hero">
  <div class="hero-content">
    <div class="profile-image-container" id="profileImageContainer" title="">
      <img src="/images/profile.png" alt="Dennis Farmer" class="profile-image" id="profileImage">
      <img src="/images/profile.png" alt="Dennis Farmer" class="profile-image-hover" id="profileImageHover">
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      const container = document.getElementById('profileImageContainer');
      container.addEventListener('click', function() {
      container.classList.toggle('toggled');
      });
      });
    </script>
    <div class="hero-text">
      <h1>I'm Dennis 👋</h1>
      <p>I am a data science student at the University of Michigan. Last summer, I worked on utilizing Bayesian methods for hydrology at <a href="https://www.limno.com/">LimnoTech</a>. Alongside my studies, I am currently a front ensemble arranger for <a href="https://www.northernlightsmi.org/">Northern Lights</a>.</p>
    </div>
  </div>
</section>

<section class="section experience">
  <h2 class="section-heading">Experience</h2>

  <div class="job">
    <img class="job-logo" src="/images/LimnoTech.webp" alt="LimnoTech">
    <div class="job-body">
      <h3 class="job-role">Data Science Intern</h3>
      <p class="job-company">LimnoTech</p>
      <p class="job-summary">Developed a hierarchical stage/flow curve model for a nested sensor network in the Lake Erie sub-basin, and developed internal tools for Freeboard's cyberinfrastructure testing within AWS and for pythonic sensor data access.</p>
    </div>
  </div>

  <div class="job">
    <img class="job-logo" src="/images/ciglr.jpeg" alt="Cooperative Institute for Great Lakes Research">
    <div class="job-body">
      <h3 class="job-role">Machine Learning Researcher</h3>
      <p class="job-company">Cooperative Institute for Great Lakes Research</p>
      <p class="job-summary">Improved upon existing research in Great Lakes surface temperature uncertainty quantification using <a href="https://arxiv.org/abs/2211.10381">ConvGNPs</a>, by developing a more faithful Monte Carlo based acquisition function for sensor placement optimization.</p>
    </div>
  </div>
</section>

<section class="section education">
  <h2 class="section-heading">Education</h2>
  <p><strong>University of Michigan College of Engineering</strong><br>Bachelor of Science in Engineering, Data Science<br>Music Composition (Minor in Music)<br>Expected Graduation: May 2027</p>
  <p>Activities: <a href="https://mdst.club/">Michigan Data Science Team</a>, <a href="https://michiganecodata.org/">EcoData</a>, <a href="https://sites.google.com/a/umich.edu/michigan-tabletop-gaming-club">Michigan Tabletop Gaming Club</a></p>

  <!--
  <h3>Coursework:</h3>
  <div class="course-list">
    <div class="course">
      <h4 class="course-title">EECS 445:<br>Intro to Machine Learning</h4>
      <div class="course-details">
        <p>linear classifiers, linear regression, logistic regression, bias–variance tradeoff, performance metrics, neural networks (CNNs, RNNs, autoencoders), attention, transformers, decision trees, random forest, boosting (Adaboost, XGBoost), maximum likelihood estimation, gaussian mixture models, expectation–maximization (k-means clustering), markov decision processes, bandit algorithms, reinforcement learning</p>
      </div>
    </div>
    <div class="course">
      <h4 class="course-title">DATASCI 406:<br>Computational Methods in Statistics and Data Science</h4>
      <div class="course-details">
        <p>Monte Carlo methods, Bayesian statistics, MCMC (Metropolis–Hastings, Gibbs Sampling), dimension reduction, causal inference</p>
      </div>
    </div>
    <div class="course">
      <h4 class="course-title">STATS 425:<br>Probability Theory</h4>
      <div class="course-details">
        <p>asdfkl;</p>
      </div>
    </div>
    <div class="course">
      <h4 class="course-title">EECS 281:<br>Data Structures and Algorithms</h4>
      <div class="course-details">
        <p>asdfkjl</p>
      </div>
    </div>
  </div>
-->
<!-- Add more courses as needed -->

</section>

<!--
<section class="skills section">
  <h2 class="section-heading">📚 Skills</h2>
  <p>Programming Languages: C++, Python, R, SQL, Bash</p>
  <p>Operating Systems: MacOS, Linux, Windows/WSL</p>
  <p>Tools and Software: Git, Docker, Vim, Make, VSCode, GNU Debugger (gdb), Valgrind</p>
</section>
-->


<section class="contact section">
  <h2 class="section-heading">Contact</h2>
  <div class="contact-links">
    <a href="mailto:dennisfj@umich.edu">Email</a>
    <a href="https://linkedin.com/in/dennis-farmer">LinkedIn</a>
    <a href="https://github.com/dennisfarmer">GitHub</a>
    <a href="/dennis_farmer_resume.pdf" target="_blank">Resume - Data Science</a>
    <a href="/dennis_farmer_music_resume.pdf" target="_blank">Resume - Music</a>
  </div>
</section>
